* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-user-select: none;
}

svg {
  display: block;
  /* margin-bottom: 5px; */
}

svg rect,
svg line,
.min_path,
.max_path,
.text_box {
  /* shape-rendering: crispEdges; */
}

/* 数字文字颜色 */
.axis text {
  fill: #888888;
  font-size: 12px;
}

/* 数轴颜色 */
.axis path {
  stroke: #ccc;
  opacity: 0.2;
}

.shadow {
  stroke-width: 1px;
  fill: none;
}

/* 数轴刻度线颜色 */
.tick line {
  stroke: #555;
  opacity: 0.2;
}

.predict {
  fill: #e7f2fc;
  fill-opacity: 0.6;
}

.ceil,
.flor,
.profit {
  shape-rendering: auto;
}

.ceil,
.flor {
  stroke: #80b5ff;
  fill: none;
}

.profit {
  stroke: #e63232;
  fill: none;
}

.volume {
  stroke: #ccc;
  fill: none;
}

.none {
  display: none;
}

.poly path {
  shape-rendering: auto;
}

/* 参考线 */
.help {
  stroke: #999;
}

/* brush area */
.brush-bar {
  fill: none;
  stroke: #ccc;
}

.selection {
  fill: #2f84cc;
  opacity: 0.4;
  stroke: #000000;
}

/* #cd4343, #8c3037, #ffca53, #0055a2*/
/* 均线 */
.ma5,
.ma10,
.ma20,
.ma30 {
  fill: none;
}

.ma5 {
  stroke: #cd4343;
}

.ma10 {
  stroke: #8c3037;
}

.ma20 {
  stroke: #ffca53;
}

.ma30 {
  stroke: #0055a2;
}

/* macd */
.macd {
  /* shape-rendering: crispEdges; */
}
.dea {
  stroke: rgb(1, 67, 117);
  fill: none;
}
.dif {
  stroke: rgb(221, 34, 0);
  fill: none;
}

.up {
  fill: #ff3d3d;
}

.down {
  fill: #0fc351;
}

.eq {
  fill: #999999;
}

/* 辅助线边框 */
.axis_border {
  fill: none;
  stroke: #ccc;
}

/*事件响应层*/
.event-overlay {
  fill: none;
  pointer-events: all;
}

/*十字线*/
.crossline {
  stroke: #fff;
  opacity: 0.3;
}

/*游标*/
.indicator-text {
  fill: #ffffff;
  font-size: 12px;
}

.indicator-box {
  fill: #525a68;
}

/* 量图边框 */
.volume-bg {
  fill: none;
  stroke: #ccc;
  opacity: 0.2;
}

/* brush bar */
.overlay {
  stroke: #cccccc;
  stroke-width: 1;
}

.selection {
  stroke-width: 0;
}

.handle--e,
.handle--w {
  fill: #cccccc;
}
