/* 数字文字颜色 */
.axis text {
    fill: #777777;
}

/* 数轴颜色 */
.axis path {
    stroke: #d4d4d4;
}

.axis line {
    stroke: #d4d4d4;
    shape-rendering:crispEdges;
}

.trend-area {

}

.guide-line {
    stroke: #555;
}

.guide-line, .candle, .shadow, .volume {
    shape-rendering:crispEdges;
}