/* 数轴颜色 */
.chart-axis path {
    stroke: #d4d4d4;
}

.chart-axis line {
    stroke: #d4d4d4;
    /*shape-rendering:crispEdges;*/
}

.guide-line {
    stroke: #555;
    shape-rendering: crispEdges;
}

.guide-line, .candle, .shadow, .volume {
    /*shape-rendering:crispEdges;*/
}

.tip-cell {
    stroke: #555;
    fill: #FFF;
    shape-rendering: crispEdges;
}

.tip-text {
    fill: #555;
    font-size: 10px;
}

.ma {
    fill: none;
    stroke: #ec9917;
}

.ma5 {
    fill: none;
    stroke: #508ce7;
}

.ma10 {
    fill: none;
    stroke: #ec9917;
}

.ma20 {
    fill: none;
    stroke: #f94636;
}

.ma60 {
    fill: none;
    stroke: #2baf2b;
}