* {
    margin:0;
    padding:0;
}

svg {
    margin-left:20px;
    margin-top:20px;
}

rect, line {
    shape-rendering:crispEdges;
}

.axis text {
    fill: #ccc;
}

.axis path {
    stroke: #ccc;
}

.bar {
    /*fill: #FF0000;*/
}

.shadow {
    stroke-width: 1px;
    fill: none;
}

.tick line {
    stroke: #ccc;
}

.predict {
    fill: #e7f2fc;
    fill-opacity: 0.6;
}

.ceil, .flor {
    stroke: #80b5ff;
    fill: none;
}

.profit {
    stroke: #e63232;
    fill: none;
}