* {
    margin:0;
    padding:0;
}

body {
    -webkit-user-select: none;
}

svg {
    overflow: visible;
}

svg rect, svg line {
    shape-rendering:crispEdges;
}

/* 数字文字颜色 */
.axis text {
    fill: #999999;
}

/* 数轴颜色 */
.axis path {
    stroke: #ccc;
}

.shadow {
    stroke-width: 1px;
    fill: none;
}

.tick line {
    stroke: #ccc;
}

.predict {
    fill: #e7f2fc;
    fill-opacity: 0.6;
}

.ceil, .flor, .profit {
    shape-rendering: auto;
}

.ceil, .flor {
    stroke: #80b5ff;
    fill: none;
}

.profit {
    stroke: #e63232;
    fill: none;
}

.volume {
    stroke: #ccc;
    fill: none;
}

.none {
    display: none;
}

.poly path {
    shape-rendering: auto;
}

/* 参考线 */
.help {
    stroke: #d8d8d8;
}

/* brush area */
.brush-bar {
    fill: none;
    stroke: #ccc;
}

.selection {
    fill: #2f84cc;
    opacity: 0.4;
    stroke: #000000;
}

/* #cd4343, #8c3037, #ffca53, #0055a2*/
/* 均线 */
.ma5, .ma10, .ma20, .ma30 {
    fill:none;
}
.ma5 {
    stroke: #cd4343;
}

.ma10 {
    stroke: #8c3037;
}

.ma20 {
    stroke: #ffca53;
}

.ma30 {
    stroke: #0055a2;
}