* {
    margin:0;
    padding:0;
}

body {
    -webkit-user-select: none;
}

/*svg {
    margin-left:10px;
    margin-top:10px;
}*/

svg * {
    shape-rendering:crispEdges;
}

/* 数字文字颜色 */
.axis text {
    fill: #999999;
}

/* 数轴颜色 */
.axis path {
    stroke: #ccc;
}

.shadow {
    stroke-width: 1px;
    fill: none;
}

.tick line {
    stroke: #ccc;
}

.predict {
    fill: #e7f2fc;
    fill-opacity: 0.6;
}

.ceil, .flor, .profit {
    shape-rendering: auto;
}

.ceil, .flor {
    stroke: #80b5ff;
    fill: none;
}

.profit {
    stroke: #e63232;
    fill: none;
}

.volume {
    stroke: #ccc;
    fill: none;
}

.none {
    display: none;
}

.poly path {
    shape-rendering: auto;
}

/* 参考线 */
.help {
    stroke: #d8d8d8;
}