svg rect,
svg line {
  shape-rendering: crispEdges;
}

.ma5,
.ma10,
.ma20 {
  fill: none;
}
.ma5 {
  stroke: #6395ee;
}

.ma10 {
  stroke: #ef7f21;
}

.ma20 {
  stroke: #ba1dff;
}
.tick line,
.domain {
  stroke: #eee;
}

.svg-tooltip {
  position: relative;
}

.tooltip {
  display: inline-block;
  padding: 2px 5px;
  font-size: 14px;
  background: #3691e1;
  color: #fff;
  border-radius: 4px;
  position: relative;
}

.tooltip .tri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 4px 5px;
  border-color: transparent transparent #3691e1 transparent;

  position: absolute;
  left: 10px;
  top: -4px;
}

.tooltip .tri_right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 4px 5px;
  border-color: transparent transparent #3691e1 transparent;

  position: absolute;
  right: 10px;
  top: -4px;
}
