.area_fill {
  fill: #2f84cc;
  opacity: 0.2;
}

.area_stroke {
  fill: none;
  stroke: #2f84cc;
}

.avg_line {
  fill: none;
  stroke: #ff7700;
}

.axis line {
  stroke: #cccccc;
  fill: #cccccc;
}

.axis .tick text {
  font-size: 10px;
  fill: #999;
}

.grid line {
  stroke: #000;
  /* stroke-opacity: 0.7; */
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
