svg line {
  shape-rendering: crispEdges;
}

.area_fill {
  fill: #2f84cc;
  opacity: 0.2;
}

.area_stroke {
  fill: none;
  stroke: #2f84cc;
}

.avg_line {
  fill: none;
  stroke: #ff7700;
}

.axis line {
  stroke: #cccccc;
  fill: #cccccc;
}

.axis .tick text {
  font-size: 10px;
  fill: #555;
}

.grid line {
  stroke: #000;
  /* stroke-opacity: 0.7; */
  shape-rendering: crispEdges;
}

.axis path,
.grid path {
  stroke-width: 0;
}

.up {
  fill: #c10 !important;
}

.down {
  fill: #383 !important;
}

.eq {
  fill: #555 !important;
}

.event_layer {
  fill: none;
  pointer-events: all;
}

.crossline {
  stroke: #000;
  opacity: 0.2;
  /* stroke-dasharray: 15 10 5 10; */
}

/*游标*/
.indicator-text {
  fill: #525a68;
  font-size: 10px;
  pointer-events: none;
}

.indicator-box {
  /* fill: #525a68; */
  fill: #f0f0f0;
  /* opacity: 0.5; */
  stroke: #cccccc;
  pointer-events: none;
}

/* 量线 */
.volume {
  stroke: #2f84cc;
  fill: none;
}
